body {
    background: #136a8a; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #fa510e, #b13131); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #fa510e, #b13131); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1 {
    font-size: 34px;
    color: white;
    font-family: 'Playfair Display', serif;
}
form {
    margin: 50px auto;
}
.contenido-principal {
    margin: 50px auto;
    background-color: white;
    -webkit-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
    box-shadow: -1px 20px 52px -13px rgba(0,0,0,0.75);
}
.mensajes {
    color: white;
}
#resultado {
    text-align: center;
}
.btn {
    width: 100%;
}
.contenido-spinner {
    display: none;
} 

.bonton{
    background-color: #f34f4f!important;
    border-color: #f10d0d!important;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #f34f4f;
  
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }